html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
	color: $text-color;
	background: $background-color;
	font: #{$font-size}/#{$line-height} $font-sans-serif;
	min-width: $min-width;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin: 0 0 15px;
}

a {
	color: $green;
	transition: color 0.3s ease-in-out;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color:$gray;
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-museo;
	margin: 0 0 1em;
	font-weight: 500;
}
h1{
	font-size: 20px;
}
h2{
	font-size: 18px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 22px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 18px;
}


#wrapper{
	position: relative;
	width: 100%;
	overflow: hidden;
	margin:0 auto;
	text-align: left;
}

.container{
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}
.btn{
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	padding: 0;
	color: #fff;
	&:hover{
		color: #fff;
	}
	&:before{
		display: none;
	}
}
.green{
	@include animate(background);
	background:$green;
	&:hover{
		background:darken($green, 5);
	}
}
.blue{
	@include animate(background);
	background:$blue;
	&:hover{
		background:darken($blue, 7);
	}
}