
$black:#000;
$white:#fff;
$gray: #2b353f;
$blue:#3db1e7;
$green: #0fb27a;
$dark-gray:#333;



$font-sans-serif: 'Roboto', 'Arial','Tahoma', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'Georgia', 'Times New Roman', 'Times', 'Baskerville', serif;
$font-museo: 'Museo Sans Cyrl' , 'Arial','Tahoma', 'Helvetica', 'Arial', sans-serif;

$text-color: $dark-gray !default;
$background-color: $white !default;
$font-size: 16px !default;
$line-height: 1.2 !default;

$min-width: 320px;
